.c{
    font-size: 50px;
    text-align: center;
}
ul {list-style-type: none;
    margin: 0;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: o;
    font-size: 35px;
    background-color: rgb(8, 1, 1);
    padding: 10px 0 10px 0;

}
body{
    background-image:
     url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkcyfT1nFEzi4NmcOFVODozsA4hQB0EATrDg&usqp=CAU)
     ;
     background-size: cover;
     background-repeat: no-repeat;
    color:white;
    text-align: center;
    font-size: 40px;
    font-family: 'Kanit', sans-serif;


}
.header-container{
    background-color: rgb(25, 18, 18);
    border-radius: 10px;
}
li{float: left;
}
@media screen and (max-width:700px){
  li{
    width: 100%;
    float: left;
  }  
}
li a {
    display: inline;
   color: rgb(230, 230, 230);
   text-align: center;
   padding-right: 60px;
   padding-top: 10px;
   padding-left: 30px;
   text-decoration: none;
   font-size: 40px;
}
@media screen and (max-width:700px){
    li a{
        display: block;
        height: 50px;
    
    }}
.most_read{padding:50px ;
    height: 800px;
     color: gold; 
     /* background-color: white; */
     display: grid;
    grid-template-columns: repeat(5,18%);
    grid-template-rows: 10px, repeat(2,250px) 20px,30px;
    gap: 2%;
    font-size: 25px;
}
@media screen and (max-width:700px){
    .most_read{
        display: block;
        height: auto;
    }
    }
.text_center{
text-align: center;
}
img{
    border-radius:5px;
}
.see_more{
    grid-area: 4/3/4/3;
    align-content: center;
    text-shadow: 1px;
    background-color: white;
    font-size: 50px;
    border:2px solid rgba(255, 0, 0, 0.705) ;
    border-radius: 10px;
}

.see_more:hover{
    background-color: black;
    color: white;
}
.most{
    grid-area: 1/1/1/6;
    background-color: black;
    border-radius: 5px;
    
}
.most h1,h4{
    color: white;


}
.latest{padding: 50px ;
    height: 550px;
     color: gold; 
     /* background-color: white; */
     display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    grid-template-rows: 10px, 250px 20px, 30px ;
    gap: 2%;
    font-size: 25px;

}
@media screen and (max-width:700px){
    .latest{
        display: block;
        height: auto;
    
    }
}
a:link{
    color:white ;
    text-decoration: none;
    background-color: black;
}
a:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;  
    background-color: rgb(237, 13, 13);
border-radius: 10%;
}


.about_us{
    background-color: purple;
}